.bg-primary-bs {
    background-color: $primary-color;
}

.bg-secondary-bs {
    background-color: $secondary-color;
}

.row-bs .qbutton {
    margin: 10px 0 0 10px !important;
}

.row-bs.slider-buttons {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

#back_to_top span {
    background: #e8e8e8;
}