.scroll-btn-hdr {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 15;
}

.scroll-btn-hdr>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn-hdr>*:hover,
.scroll-btn-hdr>*:focus,
.scroll-btn-hdr>*.active {
    color: #ffffff;
}

.scroll-btn-hdr>*:hover,
.scroll-btn-hdr>*:focus,
.scroll-btn-hdr>*:active,
.scroll-btn-hdr>*.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


.scroll-btn-hdr .mouse-hdr {
    position: relative;
    display: block;
    width: 30px;
    height: 45px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
}

.scroll-btn-hdr .mouse-hdr>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 2px;
    height: 6px;
    margin: -2px 0 0 -1px;
    background: white;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

/* COVER STYLE #1 */

.mobile-headers-style-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
}

.mobile-headers-style-1>.mobile-headers-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
}








.hr-small {
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 150px;
    border-color: rgba(255, 255, 255, 0.5);
    border-top-width: 2px;
}



.ch-item-small .hr-small {
    max-width: 100px;
    margin-top: -20px;
}

.div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

li.nav-item.waves-effect.waves-light.nav-item-5.active {
    background-color: rgba(255, 255, 255, 0.2);
}

li.nav-item.waves-effect.waves-light.nav-item-3.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-hold {
    width: 112px;
    height: 112px;
    display: table;
    margin: 0 auto 30px auto;
    background: rgba(158, 207, 245, 0.36);
    border-radius: 50%;
}

.icon-hold i {
    position: relative;
    top: -1px;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    color: #45769C;
}


.nav-item-5 {
    width: 20%;
}



.nav-item-3 {
    width: 33.3%;
}



.service-box {
    max-width: 400px;
    margin: 50px auto 0
}

@media (min-width:992px) {
    .service-box {
        margin: 20px auto 0
    }
}

.service-box p {
    margin-bottom: 0
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0
}

@media (min-width:992px) {
    .service-box {
        margin: 20px auto 0
    }
}

.service-box p {
    margin-bottom: 0
}

.tabs-3 {
    text-align: center;
}

.tabs-5 {
    text-align: center;
}


.tabs-3 {
    text-align: center;
}

.tabs-5 {
    text-align: center;
}

.tabs-3 {
    text-align: center;
}

.tabs-3 li {
    width: 33.3%;
}


.tabs-3 {
    text-align: center;
}

.tabs-3 li {
    width: 33.3%;
}

/* Float Shadow */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/*commented out for hvr-float-shadow
.services:hover,
.services:focus {
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
}
*/

/*commented out for hvr-float-shadow
.services:hover,
.services:focus {
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
}
*/

.red {
    background-color: #f44336 !important;
}

.nav-pills::after,
.nav-tabs::after,
.navbar::after {
    clear: both;
    content: "";
}

.nav-tabs .nav-item {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs::after {
    display: table;
}

.nav-tabs {
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.nav-tabs .nav-link {
    padding: 10em;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.nav-tabs {
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.red {
    background-color: #f44336 !important;
}


.nav {
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs::after {
    display: table;
}

.nav-pills::after,
.nav-tabs::after,
.navbar::after {
    clear: both;
    content: "";
}

.nav-tabs .nav-item {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.nav-tabs .nav-link {
    padding: 10em;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.tab-content {
    padding: 2rem 1rem 1rem;
    z-index: 1;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}


.tab-content {
    padding: 2rem 1rem 1rem;
    z-index: 1;
}




.card {
    border: 0;
}

.card {
    position: relative;
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}


.card,
.card-title {
    margin-bottom: .75rem;
}

.card {
    border: 0;
}

.card {
    position: relative;
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card,
.card-title {
    margin-bottom: .75rem;
}


.fade.in {
    opacity: 1;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}


.fade.in {
    opacity: 1;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.waves-effect {
    -webkit-tap-highlight-color: transparent;
}


.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.waves-effect {
    -webkit-tap-highlight-color: transparent;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.pswp__container,
.pswp__img,
.waves-effect,
a,
html {
    -webkit-tap-highlight-color: transparent;
}

.pswp__container,
.pswp__img,
.waves-effect,
a,
html {
    -webkit-tap-highlight-color: transparent;
}

.location-breakdown img {
    width: 200px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .location-breakdown {
        margin-bottom: 50px !important;
    }
}

.position-card-icon-secondary img {
    border: 15px solid #97ABBD;
}

.position-card-icon img {
    width: 147px;
    height: 147px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 15px solid #45769C;
}

.position-card-icon {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -73px;
    margin-left: -73px;
    width: 147px;
    height: 147px;
}

#kibh-sec a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

#kibh-sec a:hover {
    color: white;
}

/*#kibh-sec:before, #kibh-sec:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}
#kibh-sec:before {
  top: 0;
  margin-top: -35px;
}
#kibh-sec:after {
  bottom: 0;
  margin-bottom: -35px;
}
*/

#kibh-sec .section-heading h2 {
    color: #fff;
}

#kibh-sec .section-heading h2:after {
    background: rgba(255, 255, 255, 0.3);
}

#kibh-sec .section-heading h3 {
    color: rgba(255, 255, 255, 0.8);
}

#kibh-sec .fh5co-project-item {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#kibh-sec .fh5co-project-item img {
    z-index: 8;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#kibh-sec .fh5co-project-item .fh5co-text {
    padding: 10px 20px;
}

.kibh-back-btn {
    background: #97ABBD;
    border: 2px solid #97ABBD;
}

#kibh-sec a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

#kibh-sec a:hover {
    color: white;
}


/*#kibh-sec:before, #kibh-sec:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}
#kibh-sec:before {
  top: 0;
  margin-top: -35px;
}
#kibh-sec:after {
  bottom: 0;
  margin-bottom: -35px;
}
*/

#kibh-sec .section-heading h2 {
    color: #fff;
}

#kibh-sec .section-heading h2:after {
    background: rgba(255, 255, 255, 0.3);
}

#kibh-sec .section-heading h3 {
    color: rgba(255, 255, 255, 0.8);
}

#kibh-sec .fh5co-project-item {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#kibh-sec .fh5co-project-item img {
    z-index: 8;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#kibh-sec .fh5co-project-item .fh5co-text {
    padding: 10px 20px;
}

#kibh-sec .fh5co-project-item .fh5co-text h2,
#kibh-sec .fh5co-project-item .fh5co-text span {
    text-decoration: none !important;
}

#kibh-sec .fh5co-project-item .fh5co-text h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#kibh-sec .fh5co-project-item .fh5co-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

#kibh-sec .fh5co-project-item:hover,
#kibh-sec .fh5co-project-item:focus {
    -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    top: -15px;
}

#kibh-sec .fh5co-project-item:hover img,
#kibh-sec .fh5co-project-item:focus img {
    opacity: .7;
}

#kibh-sec .fh5co-project-item:hover h2,
#kibh-sec .fh5co-project-item:hover span,
#kibh-sec .fh5co-project-item:focus h2,
#kibh-sec .fh5co-project-item:focus span {
    text-decoration: none !important;
}

#kibh-sec h2 {
    color: #000;
}


.kibh-back-btn {
    background: #97ABBD;
    border: 2px solid #97ABBD;
}


@media only screen and (max-width: 425px) {
    #kibh-sec .fh5co-project-item .fh5co-text h2 {
        font-size: 0.8em;
    }
    #kibh-sec .fh5co-project-item .fh5co-text span {
        font-size: 0.8em;
    }
}

#kibh-sec .fh5co-project-item .fh5co-text h2,
#kibh-sec .fh5co-project-item .fh5co-text span {
    text-decoration: none !important;
}

#kibh-sec .fh5co-project-item .fh5co-text h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#kibh-sec .fh5co-project-item .fh5co-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

#kibh-sec .fh5co-project-item:hover,
#kibh-sec .fh5co-project-item:focus {
    -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    top: -15px;
}

#kibh-sec .fh5co-project-item:hover img,
#kibh-sec .fh5co-project-item:focus img {
    opacity: .7;
}

#kibh-sec .fh5co-project-item:hover h2,
#kibh-sec .fh5co-project-item:hover span,
#kibh-sec .fh5co-project-item:focus h2,
#kibh-sec .fh5co-project-item:focus span {
    text-decoration: none !important;
}

#kibh-sec h2 {
    color: #000;
}


.staff-slider-btn {
    background: transparent;
    border: 2px solid #fff;
    font-size: 0.8em;
}

a.staff-slider-btn:hover {
    border: 2px solid #fff;
}

#back_to_top span {
    background: #e8e8e8;
}

@media only screen and (min-device-width: 769px) {
    .mobile-countdown-holder {
        display: none;
    }
}